<h1>Mein Konto</h1>
<h2>Meine Nutzerdaten:</h2>
<div *ngIf="userData != null">
    <table>
        <tr *ngFor="let prop of userData | keyvalue">
            <td>{{prop.key}}</td>
            <td>{{prop.value}}</td>
        </tr>
    </table>
</div>
<br />
<button (click)="tohome()">Home</button>