<h2>Registrieren</h2>

<form #signupForm="ngForm" (ngSubmit)="registerUser(signupForm)">
    <label for="fname">Firstname:</label><br>
    <input type="text" id="fname" name="fname" ngModel required><br>
    <label for="lname">Lastname:</label><br>
    <input type="text" id="lname" name="lname" ngModel required><br>
    <label for="nickname">Nickname:</label><br>
    <input type="text" id="nickname" name="nickname" required ngModel><br>
    <label for="town">Town</label><br>
    <input type="text" id="town" name="town" required ngModel><br>
    <label for="email">email:</label><br>
    <input type="text" id="email" name="email" required ngModel><br><br>
    <button [disabled]="!signupForm.valid" type="submit">Register</button>
</form>