<div>Welcome to home Route</div>

<div *ngIf="isAuthenticated; else noAuth">
  <button (click)="logout()">Logout</button>
  <button (click)="logoffAndRevokeTokens()">Logout and revoke tokens</button>
  <button (click)="revokeAccessToken()">Revoke access token</button>
  <button (click)="revokeRefreshToken()">Revoke refresh token</button>
  <button (click)="refreshSession()">Refresh session</button>
  <hr />
  <h3 style="color: green;">successfully logged in</h3>
  <br />
  <br>
  <p [ngStyle]="neededDataAvailable && {'color': 'green'}|| {'color':'red'}">All needed Data available: {{
    neededDataAvailable }}</p>
  <br />
</div>

<ng-template #noAuth>
  <button (click)="login()">Login</button>
  <button (click)="register()">Register</button>
  <button (click)="importVC()">Import VC</button>
  <hr />
  <br />
  <h3 style="color: red;">not logged in</h3>
</ng-template>
<div>
  <button (click)="oidcConfig()">OIDC Config</button>
  <button (click)="myaccount()">My Account</button>
</div>