<h2>import existing VC</h2>
<br>
<div>
    <label>paste VC in the textarea to import</label><br>
    <textarea [(ngModel)]=textArea></textarea><br>
    <button (click)="importFromTextarea()">import</button>
    <button style="margin-left: 5px;" (click)="cancel()">cancel</button>
</div>