<div class="checkboxes">

    <mat-checkbox [(indeterminate)]="indeterminateBoxes[0]" [(ngModel)]="box1">read VC from browser memory
    </mat-checkbox>
    <br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[1]" [(ngModel)]="box2">add timestamp to VC -> VP
    </mat-checkbox>
    <br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[2]" [(ngModel)]="box3">let the User sign the VP</mat-checkbox>
    <button *ngIf="connector && connector.connected" (click)="connectToNewWallet()">connect to other wallet</button><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[3]" [(ngModel)]="box4">add Proof to VP</mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[4]" [(ngModel)]="box5">save VP in Cookie(to transfer it to
        Keycloak)</mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[5]" [(ngModel)]="box6">start OIDC Request</mat-checkbox>
    <br>
    <br>
</div>