<h1>Welcome to registration Process</h1>
<div class="checkboxes">

    <mat-checkbox [(indeterminate)]="indeterminateBoxes[0]" [(ngModel)]="box1">establish connection to wallet
    </mat-checkbox>
    <button *ngIf="connector && connector.connected" (click)="connectToNewWallet()">connect to other wallet</button>
    <br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[1]" [(ngModel)]="box2">let the user sign a message
    </mat-checkbox>
    <br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[2]" [(ngModel)]="box3">calculate public key from singed message
    </mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[3]" [(ngModel)]="box4">create DID Dokument</mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[4]" [(ngModel)]="box5">let the user sign the DID Dokument
    </mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[5]" [(ngModel)]="box6">Upload DID Dokument to Tangle
    </mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[6]" [(ngModel)]="box7">generate VC</mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[7]" [(ngModel)]="box8">let the user sign the VC</mat-checkbox>
    <br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[8]" [(ngModel)]="box9">add Proof to VC</mat-checkbox><br>
    <mat-checkbox [(indeterminate)]="indeterminateBoxes[9]" [(ngModel)]="box10">VC in Browser speichern</mat-checkbox>
    <br>
</div>
<button [disabled]="!registrationFinish" (click)="redirectToLogin()">To Login</button>
<h1>VC: </h1>
<p [innerText]="vcToDisplay"></p>
<h1>DID Document</h1>
<p [innerText]="didDocToDisplay"></p>